[Unit]
Description=Announce Vault@%i service
BindsTo=vault@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /announce/services/vault%i ${COREOS_PUBLIC_IPV4}:%i --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /announce/services/vault%i

[X-Fleet]
X-ConditionMachineOf=vault@%i.service
